
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dues app</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %> 
            <form action="">
                <div class="fles gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="what's next?" class="border border-gray-400 rounded w-full p-1 text-sm " required/>
                    </div>
                    <div class="flex py-4">
                        <input type="date" class="border border-gray-400 rounded w-full p-1 text-sm leading-2 "/>
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2" >Add</button>
                    </div>
                </div>
            </form>
            <div>
                <%- include('todos.ejs',{subtitle:"Overdue",data:overdue,unq:"count-overdue"}) %> 
                <%- include('todos.ejs',{subtitle:"Due Today",data:dueToday,unq:"count-due-today"}) %> 
                <%- include('todos.ejs',{subtitle:"Due Later",data:dueLater,unq:"count-due-later"}) %> 
            </div>
        </div>
    </div>

</body>
</html>